@use "../core/" as *;

body {
    background-color: rgb(249, 248, 255);
}

h1 {
    font-family: $fontprimary;
}

h2, h4, p {
    font-family: $fontsecondary;
    
}

main h2 {
    text-align: center;
    font-size: 2em;
}