@use "../core/" as *;

footer {
    background-color: rgb(153, 153, 153);
    padding: 4em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footersocials {
    display: flex;
    justify-content: space-evenly;
}

.footersocials a {
}

.footersocials img {
    max-width: 20%;
}