@use "../core/" as *;

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/cow.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 200%;

    &__title {
        font-size: 3em;
        text-align: center;
        padding: 2em 2em 0em 2em;
        color: white;
    }

    &__subtitle {
        text-align: center;
        font-size: 2em;
        padding: 1.5em 1.5em 4em 1.5em;
        color: white;
    }
}