@use "../core/" as *;

.infocard {
    background-color: purple;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    padding: 1em;
}

.infoimg {
    max-width: 20%;
    display: block;
    margin: auto;
    padding-top: 1em;
}

.infocard__title {
    text-align: center;
    padding-top: 1em;
}

.infocard__text {
    text-align: center;
    padding-bottom: 1em;
}

.infomiddle {
    padding: 0em 2em 0em 2em;
}

.infomiddle__paragraph {
    text-align: center;
}