@use "../core/" as *;

.presentation {
    background-color: rgb(219, 219, 219);
    display: grid;
    grid-template-columns: 50% 50%;

    &__title {
        margin-top: ;
    }
    &__subtitle {
        margin: 5em;
    }
    &__img {
        grid-column: 2/3;
        grid-row: 1/3;
    }
}