@use "../core/" as *;

.presentation {
    background-color: rgb(219, 219, 219);
    display: grid;
    grid-template-columns: 50% 50%;

    &__title {
        
    }
    &__subtitle {
        line-height: 2em;
        margin: 1em 5em 1em 5em;
    }
    &__img {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
    }
}

.presentation aside {
    margin: auto;
}